// settings.scss*/
$basepurple: #53445E;	// Main Primary color */
$lightpurple: #8A7E93;
$midpurple: #6C5D76;
$darkpurple1: #32283A;
$darkpurple2: #2B1938;

$basepink: #6C4C61;	// Main Secondary color (1) */
$lightpink: #A990A0;
$midpink: #88687D;
$darkpink1: #432C3B;
$darkpink2: #411B34;

$baseblue: #4C4760;	// Main Secondary color (2) */
$lightblue: hsl(251, 31%, 93%);
$midblue: #66617A;
$darkblue1: #2D2A3C;
$darkblue2: #221C3A;

$white: rgb(241, 240, 247);
$font-stack: Helvetica, sans-serif;
